<p>task-tab-presentation works!</p>
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button"
            role="tab" aria-controls="nav-home" aria-selected="true">Home</button>
        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button"
            role="tab" aria-controls="nav-profile" aria-selected="false">Profile</button>
        <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button"
            role="tab" aria-controls="nav-contact" aria-selected="false">Contact</button>
        <button class="nav-link" id="nav-disabled-tab" data-bs-toggle="tab" data-bs-target="#nav-disabled" type="button"
            role="tab" aria-controls="nav-disabled" aria-selected="false" disabled>Disabled</button>
    </div>
</nav>
<div class="project-form-wrapper w-50 mx-auto mt-5 rounded-4 p-5">
    <div>
        <h2 class="text-center">Create Project</h2>
    </div>
    <form class="project-form-wrapper p-5 m-auto">
        <div class="mb-3">
            <label for="title" class="form-label">Project Title</label>
            <input type="text" name="title" id="title" class="form-control">
        </div>
        <div class="mb-3">
            <label for="info" class="form-label">Project Info</label>
            <input type="text" name="info" id="info" class="form-control">
        </div>
        <div class="mb-3">
            <label for="category" class="form-label">Project Category</label>
            <input type="text" name="category" id="category" class="form-control" placeholder="eg: Corporate Website">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-primary" (click)="onCancel()">back</button>
    </form>
</div>