<div class="project-form-wrapper w-50 mx-auto mt-5 rounded-4 p-5">
    <div>
        <h2 class="text-center">Create Project</h2>
    </div>
    <form class="project-form-wrapper p-5 m-auto" [formGroup]="projectForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="title" class="form-label">Project Title</label>
            <input type="text" name="title" id="title" class="form-control" formControlName="title">
        </div>
        <div class="mb-3">
            <label for="info" class="form-label">Project Info</label>
            <input type="text" name="info" id="info" class="form-control" formControlName="info">
        </div>
        <div class="mb-3">
            <label for="category" class="form-label">Project Category</label>
            <input type="text" name="category" id="category" class="form-control" placeholder="eg: Corporate Website"
                formControlName="category">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <!-- <button type="button" class="btn btn-primary" onclick="onCancel()">back</button> -->
    </form>
</div>