<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button"
            role="tab" aria-controls="nav-home" aria-selected="true" routerLinkActive="active"
            routerLink="/projects/form/project-title" (click)="onRoute()" disabled="btn1">
            Create Project
        </button>
        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button"
            role="tab" aria-controls="nav-profile" aria-selected="false" routerLinkActive="active"
            routerLink="/projects/form/project-info" (click)="onRoute()" disabled="btn2">
            Project Info
        </button>
    </div>
</nav>
<!-- <router-outlet></router-outlet> -->
<app-project-title-tab-presentation [projectTitleData]="projectTitle$ | async" (add)="addTitleData($event)">
</app-project-title-tab-presentation>